{% extends 'catalog/base.html' %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <h1 class="mb-3">Создать пост</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-bd-primary">
                    {% if object %}
                    Отправить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
